*{
    margin: 0;
    padding: 0;
}

ul,ol{
    list-style: none;
}

@font-face{
    src:url(../fonts/NotoSansBengaliUI-Regular.ttf);
    font-family: noto;
}

.jiboni-left-slider{
    width: 100%;
    height: 100vh;
    background: #000;

    
}
.jiboni-left-slider .photoimg
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.jiboni-left-slider img{
    max-width: 100%;
    max-height: 100vh;
}



.jiboni-left-slider .prev{
    width:3%;
    margin-left: 50px;
    /* display: none !important; */
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    z-index: 1;
}

.jiboni-left-slider .next{
    width:3%;
    margin-right:50px;
    /* display: none !important; */
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}

.jiboni-right-slider{
    width: 100%;
    height: 100vh;
    padding-left: 30px;
    padding-top: 20px;
}

.jiboni-right-slider h5{
    font-family: noto;
    font-weight: bolder;
}

.jiboni-right-slider .jiboni-right-text-slider{
    margin-top: 50px;
    margin-left: 30px;
}
.jiboni-right-slider h3{
    color: #7e7e7e;
    font-family: noto;
    font-weight: bolder;
    margin: 0;
}

.jiboni-right-slider h1{
    font-family: noto;
    font-weight: bolder;
}


.jiboni-right-slider p{
    font-family: noto;
    color: #7e7e7e;
    overflow-y: scroll;
    max-height: 40vh;
}

.jiboni-right-slider .count{
    color: #7e7e7e;
    font-size: 25px;
    font-weight: bolder;
    font-family: noto;
    position: absolute;
    top: 244px;
    left: 50%;
    transform: translateX(-50%);
}

.jiboni-right-slider .jiboni-details{
    margin-top: 116px;
    
}

span.jibonitotal{
    margin-left: -3px;
}
.jiboni-right-slider .prevt{
    position: absolute;
    top: 130px;
    z-index: 1;
}

.jiboni-right-slider .nextt{
    position: absolute;
    top: 130px;
    right: 60px;
}

